/* super reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* Colors */
  --color-primary: #220d05;
  --color-secondary:#78252b;
  --color-white-1: #ffffffd8;
  --color-orange: #f64f11;
  --color-grey-3: #d7dbdf;
  --color-grey-4: #e6e8eb;
  
/* Font Family */

--Poppins : "Poppins";
--Roboto : "Roboto";

}
